@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .visit{
    background-color: var(--first-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: var( --border-radius); */
    box-shadow: var(--text-shadow);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
    margin-top: 15px;   
    border-radius: 10% 10% ;
    margin-bottom: 20px;
}

  span{
    margin: 20px;
    font-size: 40px;
    /* font-size: var(--smale-font-size); */
  }
  
  .logos {
    overflow: hidden;
    white-space: nowrap;
    /* position: relative; */
    width: 50%;
    background-color: var(--firstcolor);
    margin-left: -20px;
   
    
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  /* .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--first-color));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--first-color));
  } */
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    overflow-y: hidden;
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  /* .logos-slide span {
    height: 50px;
    margin: 0 40px;
  } */

  .change_text_{
   position: absolute;
  }

  .Why h1{
    overflow: hidden;
  }


  @media screen and (max-width: 1080px) {
    span{
      /* font-size: var(--smaller-font-size); */
      font-size: 20px;
    }
   
  }