.m{
    background-color: transparent;
    border: none;
    color: var(--body-color);
}

.button{
     position: absolute; 
     /* margin: 0  40%; */
     width: 10%; 
     /* padding: 20px 20px; */
      /* margin-top: 200px; */
     background-color:transparent;
     display: grid;
     align-items: center;
     justify-content: center;
    

     
       
    
}


.s-btn{
    width: 200px;
    height: 50px;
   margin-top: 310px;

}

/* .video-container{
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

.App{
    position: relative;
    /* display: flex; */

}
