.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color:var( --title-color);
    z-index: -1;
    margin-top: -30px;
    
    }
    h1{
        color: var(--text-color);
    }
    
    
    .change-text{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10pc;
        overflow: hidden;
    }
    
    .video_{
        position: relative;
    }
    .changing-text{
        position: relative;
       width: 100%;
       height: 100%;
       margin-top: 40px;
       display: grid;
       align-items: center;
       justify-content: center;
    
    }
    .study.img{
        width: 25%;
    }
    .Change{
        width: 500px;
        height: 200px;
        position: relative;
        
    }
    .Why h1,
    .Change h1{
        font-size: 40px;
    }
    
    
    .Why{
        width: 100%;
        height:100%;
        background-color: var(--first-color);
        margin-bottom:30px ;
        border-radius: var(--border-radius);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-bottom: 40px;
        
    }
    /* 
    .Why:hover{
        background-color: blue;
        animation: movei 5s ease-out;
        
     }
    @keyframes movei {
        
        0% {
            .video{
                 margin-top:30px ;}
        }
        75% {
            .video{
                margin-top:200px ;}    }
        100% {
            .video{
                margin-top:200px ;}       }
        
      } */
    
    .Why h1::before{
        content: '';
        position: absolute;
        background-color: var(--title-color);
        width: 10px;
        height: 50px;
        border-radius: 20px ;
       margin-left: -10px;
       margin-top: 10px;   
    }
    
    .Why p{
        padding: 20px 20px;
    }
    
    .Why h1,
    .Change h1{
        font-size: 40px;
    }
    .Why p{
    font-size: 20px;
    }
    .bon{
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
        background-color: red;
    }
    
    
    @media screen and (max-width: 1000px) {
        .Why h1,
       .Change h1{
        font-size: 30px;
       }
       .Why p{
        font-size: 15px;
       }
    


       .s-btn{
        margin-top: 0;
       }
       
       
    
       .a-social i{
        font-size: 15px;
        /* background-color: red; */
        /* padding: 2px 2px; */
       margin-bottom: -210px;
       
    
        
      }
      .icon{
        font-size: 10px;
        margin-right: 10px

    
      }
      .span{
       font-size: 10px;
      }
    
    
    
      .social-links{
        grid-template-columns: repeat(4,2fr);
    
    
      }
    
      .container_social{
        justify-content: center;
      }
    
    
    
    
       
      }



      .visit{
        background-color: var(--first-color);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-radius: var( --border-radius); */
        box-shadow: var(--text-shadow);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
        margin-top: 15px;   
        border-radius: 20% 20% ;
        margin-bottom: 20px;
       
    
    }