.feedback{
    width: 100%;
    height: 200px;
    position: relative;
    margin: 20px 20px;
    padding: 10px ;
    background-color:red;

    
}

.feedback_img{
    width:  70%;
    height: 30%;
    margin: 20px 5px;
    border-radius: var(--border-radius);
    border: 1px solid var(--first-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
}

.feedback-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.arrow{
    color: var(--first-color);
    border: solid 2px var(--first-color);
    padding: 5px 5px;
    border-radius: 50% 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
    cursor: pointer;
   

}

.arrow:hover{
    animation: arrow_animation  0.3s ease 0.5;
}

@keyframes arrow_animation {
    0% {
    margin-top: 10px ;
    }

    100% {
        margin-top: 0px;
       }
    
  }