.video-container{
    /* margin-top: 30px; */
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin-top: -100px;
    margin-left: 20px;
    
    

}
.video{
    overflow-y: hidden;
   /* position: absolute; */
    /* border-radius: var(--border-radius); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px , rgba(0, 0, 0, 0.35) 0px 20px 15px;
    width: 700px;
    animation: movei 5s  ease-out forwards ; 
    height:auto;
    border: solid var(--container-color);
    box-shadow: var(--shadow);
    border-radius: 10%;
    

}
/* @keyframes movei {
    0% {
    margin-top:30px ;
    }

    100% {
        margin-top: 260px;
       }
    
  } */
/* .first{
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;

} */


@media screen and (max-width: 1000px) {
    .video{
        width: 90%;
        animation: movei_2 5s  ease-out forwards ; 

       
    }
    .video-container{
        margin-top: -100px;

    }
    /* .s_btn{
        width: 100px;
    }
   
     */
   }

/* 
   @keyframes movei_2 {
    0% {
    margin-top:30px ;
    }
    100% {
        margin-top: 100px;
       }
    
  } */