
  @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800&family=Dancing+Script:wght@500&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;1,6..12,300;1,6..12,400;1,6..12,700&family=PT+Sans:ital@1&display=swap');


:root{
  /*=============Colors ==========*/
  --first-color:  #2C3333;
  --title-color:#2c3333;
  --text-color:#F4EEE0;
  --body-color: #CBE4DE;
  --container-color: #F4EEE0;
  --list-bg-color:#CBE4DE;

  --title-color-light: linear-gradient(180deg,#2b5de3,#539ef5);
  --list-bg-color:#ffff;
  --font-family: -apple-system,Nunito,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;


   /*=============Font And Typography ==========*/
   --body-font-family: 'Catamaran', sans-serif;
   --h1-font-size:2.25rem;
   --h2-font-size:1.5rem;
   --h3-font-size:1.25rem;
   --normal-font-size:2rem;
   
   --smal-font-size:30px;
   --smaller-font-size:15px;
  /*=============Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*=============BOX Shadow==========*/
  --shadow: 0px 5px 20px rgba(69 67 96 / 20%);
  --text-shadow: 0px 5px 20px rgba(69 67 96 / 20%);
  --hover-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


   /*=============Border-Radius ==========*/
  --border-radius: 20px;

}
 /*==================================== responsive typography ========================= ==========*/
 @media screen and (max-width:1024px) {
  :root{
    --h1-font-size:1.75rem;
      --h2-font-size:1.25rem;
      --h3-font-size:1rem;
      --normal-font-size:10px;
      --smal-font-size: 0.813rem;
      --smaller-font-size: 16px
  }

}

*{
  margin: 0px;
  padding: 0px;
  box-sizing:  border-box;
  /* overflow-y: hidden; */
  font-family: var(--font-family);

}


html{
  scroll-behavior: border-box;
}
body,
button,
input,
textarea{
  /* font-family: var(--font-family); */
  /* font-size: var(--normal-font-size); */

}

body{
  background-color: var(--container-color);
  /* background-color: var(--container-color); */
  /* line-height: 1.7; */
  color: var(--container-color);
  overflow-x: hidden;
  /* font-size: var(--smaller-font-size ); */

}
/* h1, h2,h3{
   color: var(--text-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
} */
ul{
  list-style: none;
}

a{
  text-decoration: none;
}
button:h
a:hover{
  background-color: #EEEEEE;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
img{
  max-width: 100%;
  height:auto;
  vertical-align: middle;
}

.section_con{
  width: 100%;
  height: 100%;
    /* padding-left: 10%;
    padding-right: 10%; */
    /* margin-left: 20px;  */
}


/* 
.container{
  max-width: 90%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 20px; 
} */

.grid{
  display: grid;
}

.section{
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.section-title{
  /* font-size: var(--h1-font-size); */
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  margin-bottom: 3.75rem;
}

.section-title::before{
  content: '';
  /* background:url(); */
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.857rem;
  top: -0.875;
}

.btn{
  cursor: pointer;
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0, 0, 0 / 0%);
  color: #fff;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-bold);
 
}
.btn:hover{
   animation: button-push 0.3s ease 0.5;
}
@keyframes button-push {
  50%{
      transform: scale(0.8);
  
    }
    100%{
      transform: scale(11);
    }
   };

 
/* 
   .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   } */