.visit{
    background-color: var(--first-color);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var( --border-radius);
    box-shadow: var(--text-shadow);
    position: relative;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;


}