.visit{
    background-color: var(--first-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: var( --border-radius); */
    box-shadow: var(--text-shadow);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
    margin-top: 15px;   
    border-radius: 20% 20% ;
    margin-bottom: 20px;
   

}